html, body {

    margin: 0;
    padding: 0;
    background-color: #FAFFED;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    -webkit-font-smoothing: antialiased;

}

.background {
    
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("assets/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;

}

.navigationBar .container ul {

    margin: 0;
    padding: 0;
    text-align: center;
    transform: translateY(25px);

}

.navigationBar .container ul li {

    display: inline;
    list-style: none;
    padding: 10px;
    font-size: 20px;

}

.navigationBar .container ul li a {

    color: #707070;
    transition: 250ms;

}

.navigationBar .container ul li a:hover {
    
    text-shadow: 2px 2px rgba(112, 112, 112, 0.3);

}

.header .container  {
    
    position: absolute;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    
}

.header .container #header {
    
    font-family: 'Sofye';
    font-size: 213px;
    color: #707070;
    
}

.header .container #links {
    
    margin: 0;
    padding: 0;
    transform: translateY(-130px);
    
}

.header .container #links li {
    
    display: inline-block;
    
}

.header .container #links li a {
    
    font-family: 'Linotte';
    font-size: 28px;
    color: #707070;
    padding: 20px
    
}

.tweaks {
    
    opacity: 0;
    
}

.tweaks .container {
    
    text-align: center;
    transform: translateY(1000px);
    
}

.tweaks .container #tweaks {
    
    margin: 0;
    padding: 0;
    margin-left: 200px;
    margin-right: 200px
    
}

.tweaks .container #tweaks li {
    
    display: inline-block;
    padding: 30px;
    
}

.tweaks .container #tweaks li img {
    
    width: 178px;
    height: auto;
    border: 3px solid #E9EDE2;
    border-radius: 20px
    
}

.scrollIndicator {
    
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    font-size: 25px;
    color: #000000;
    opacity: 0;
    animation: scrollIndicatorFade 0.7s;
    animation-delay: 3s;
    animation-fill-mode: both;
    
}

@keyframes scrollIndicatorFade {
    
    from {
        
        bottom: 9%;
        opacity: 0;
        
    }
    
    to {
        
        bottom: 8%;
        opacity: 1;
        
    }
    
}

@font-face {
    font-family: 'Sofye';
    src: url("https://litten.love/assets/fonts/Sofye\ Demo.ttf");
}

@font-face {
    font-family: 'Linotte';
    src: url("https://litten.love/assets/fonts/Linotte-Light.ttf");
}